# Wikidata Bot Credentials Template
# Generate a Bot Password at: https://www.wikidata.org/wiki/Special:BotPasswords
# Required permissions: "Edit existing pages" & "Create, edit, and move pages"

WIKIDATA_USERNAME=Danielyepezgarces@your_bot_name
WIKIDATA_BOT_PASSWORD=your_bot_password_here
